image: phpunit/phpunit:5.0.3

# We only need the current commit.
clone:
  depth: full

pipelines:
  branches:
    master:
      - step:
          script:
            - make test
            - make deploy
  tags:
    '*':
      - step:
          script:
            - make test
            - make deploy
